<div class="modal fade" id="exampleModalLoad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLoadLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLoadLabel"> modal title </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"> close </button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"> save changes </button>
			</div>
		</div>
	</div>
</div>